article.row-fluid
  div.span2.date-full
    - var fullDateString = dateFormat(article.timestamp, "yyyy-mm-ddTHH:MM:ss");
    - var dateString = dateFormat(article.timestamp, "yyyy-mm-dd");
    - var timeString = dateFormat(article.timestamp, "HH:MM:ss");
    time.timestamp(datetime=fullDateString)
      span.date!= dateString
      span.visible-phone &nbsp;
      span.time!= timeString
  div.span10
    hgroup
      h1
        //zenback_title_begin
        span!=article.title
        //zenback_title_end
      footer
        span Category : 
        span= article.category
    //zenback_body_begin
    div.article-content!= article.content
    //zenback_body_end
    article.row-fluid.hidden-phone
      h2.hide Comment
      include zenback
