article.row-fluid
  - var fullDateString = dateFormat(article.timestamp, "yyyy-mm-ddTHH:MM:ss");
  - var dateString = dateFormat(article.timestamp, "yyyy-mm-dd");
  - var timeString = dateFormat(article.timestamp, "HH:MM:ss");
  div.span12
    h3
      a(href="#{config.url}/#{article.filename}")!=article.title
    if article.summary
      div.article-content.hidden-phone!= article.summary
      a.hidden-phone(href="#{config.url}/#{article.filename}") 続きを読む
    else
      div.article-content.hidden-phone!= article.content
 
