!!! 5
//if lt IE 7
  |<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  |<html class="no-js lt-ie9 lt-ie8">
//if IE 8
  |<html class="no-js lt-ie9">
//[if gt IE 8><!
html.no-js(lang="ja")
  //<![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

    if (typeof(title) != 'undefined')
      title #{title} - #{site.title}
    else if (typeof(article) != 'undefined')
      title #{article.title} - #{site.title}
    else
      title!= site.title

    link(rel="alternate", type="application/rss+xml", title="RSS2.0", href="/feed.rss")
    meta(name="viewport", content="width=device-width,initial-scale=1.0")

    // CSS
    link(href="#{config.url}/css/bootstrap.min.css", rel="stylesheet")
    style
      body{
        padding-top:60px;
        padding-bottom:40px;
      }
    link(href="#{config.url}/css/bootstrap-responsive.min.css", rel="stylesheet")
    link(href="#{config.url}/css/prettify.css", rel="stylesheet")
    link(href="#{config.url}/css/main.css", rel="stylesheet")
    for css in config.css
      link(href=css, rel="stylesheet")

    script(src="#{config.url}/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js")

  body(data-spy="scroll", data-target=".subnav", data-offset="50")
    a(href="https://github.com/syaku").visible-desktop
      img(style="position: fixed; top: 0; right: 0; border: 0;z-index:1050;", src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png", alt="Fork me on GitHub")
    header.navbar.navbar-fixed-top
      div.navbar-inner
        div.container
          button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="#{config.url}/")!= config.title 
          div.nav-collapse.collapse
            ul.nav
              li
                a(href="#{config.url}/about.html") About
              li.hidden-desktop
                a(href="https://github.com/syaku") Fork me on GitHub
    div.container
      block page-header
      block content
      aside.row#navigation
        h2.hide Navigation
        include includes/aside
    footer.navbar.navbar-fixed-bottom
        div.navbar-inner
          div.container
            p.pull-right.navbar-text Powered by 
              a(href="https://github.com/syaku/coffeepress") Coffeepress
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script
      window.jQuery || document.write('<script src="#{config.url}/js/vendor/jquery-1.8.2.min.js"><\/script>');
    script(src="#{config.url}/js/vendor/bootstrap.min.js")
    script(src="#{config.url}/js/vendor/google-code-prettify/prettify.js")
    for script in config.script
      script(src=script)
    script(src="#{config.url}/js/plugins.js")
    script(src="#{config.url}/js/main.js")
